.container {
   margin-top: 60px;

   h2 {
      font-size: 18px;
      text-align: left;
      margin-bottom: 8px;
   }

   .item {
      width: 45vw;
      padding: 16px;
      background-color: white;
      color: rgb(54, 48, 48);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      border-radius: 16px;
      margin-top: 16px;
      transition: all 0.3s ease;

      span {
         font-weight: 600;
         font-size: 14px;
         margin: 16px 0;
      }

      .newlink {
         color: #0b73fe;
      }

      button {
         display: inline-block;
         width: 111px;
         height: 40px;
         background-color: #eef3fd;
         color: #0b73fe;
         border: none;
         border-radius: 8px;
         transition: all 0.3s ease;
         cursor: pointer;

         &:hover {
            background-color: #d9e6fe;
         }
      }

      &[data-active="true"] button {
         background-color: #0b73fe;
         color: white;
      }
   }
}

@media (max-width: 768px) {
   .item {
      width: 85vw !important;
      flex-direction: column;

      span {
         margin: 0 0 16px !important;
      }
   }
}
